body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

form {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="file"] {
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}

img {
    margin-top: 20px;
    max-width: 300px;
    max-height: 300px;
    border-radius: 8px;
}